/* line 1, ../scss/custom.scss */
img {
  width: 100%;
}
/* line 4, ../scss/custom.scss */
img.desaturate {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

/* line 13, ../scss/custom.scss */
ul {
  list-style-type: none;
  padding: 0;
}
/* line 17, ../scss/custom.scss */
ul li {
  display: inline;
}

/* line 23, ../scss/custom.scss */
nav ul {
  text-align: right;
}

/* line 28, ../scss/custom.scss */
[class*='col-'] {
  /*float: left;*/
  /*padding-right: 20px;*/
  padding-bottom: 20px;
}

/* line 34, ../scss/custom.scss */
.grid-pad-left {
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 0px;
}

/*.grid-pad-bottom {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 20px;
}*/
/* line 47, ../scss/custom.scss */
.outline, .outline * {
  outline: 1px solid lightgrey;
}

/* line 51, ../scss/custom.scss */
.content {
  background: #ccc;
  padding: 10px;
}

/* line 58, ../scss/custom.scss */
section img, section canvas {
  width: 100%;
  /*margin-bottom: 20px;*/
  -webkit-box-shadow: 4px 4px 20px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 4px 4px 20px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 4px 4px 20px 0px rgba(50, 50, 50, 0.25);
}

/* line 68, ../scss/custom.scss */
#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/herobackground.jpg") no-repeat center -200px;
  background-size: cover;
  background-attachment: fixed;
  padding: 15% 0 10%;
  color: white;
}
/* line 75, ../scss/custom.scss */
#hero h1, #hero p {
  font-weight: 300;
}

/* line 80, ../scss/custom.scss */
.secondary-nav {
  background: #f0f0f0;
}
/* line 82, ../scss/custom.scss */
.secondary-nav img {
  padding: 8%;
  opacity: 0.5;
}

/*Make svg clickable*/
/* line 91, ../scss/custom.scss */
a.svg {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* line 96, ../scss/custom.scss */
a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 106, ../scss/custom.scss */
a.svg.logo {
  width: 80px;
}

/*Navigation*/
/* line 113, ../scss/custom.scss */
header {
  position: fixed;
  background: rgba(255, 255, 255, 0.98);
  width: 100%;
  z-index: 9;
  -webkit-box-shadow: 4px 4px 2px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 4px 4px 2px 0px rgba(50, 50, 50, 0.15);
  box-shadow: 4px 4px 2px 0px rgba(50, 50, 50, 0.15);
}

/*Media Queries!!!!!!!!!!!!!!!!!*/
@media (max-width: 767px) {
  /*centers image*/
  /* line 131, ../scss/custom.scss */
  .mobile-col-1-2-centered {
    width: 50%;
    margin-left: 25%;
  }
}
