img {
	width: 100%;

	&.desaturate{
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		filter: gray;
		filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
	}

}

ul {
	list-style-type: none;
	padding: 0;

	li {
		display: inline;
	}
}

nav {
	ul {
		text-align: right;
	}
}

[class*='col-'] {
	/*float: left;*/
    /*padding-right: 20px;*/
    padding-bottom: 20px;
}

.grid-pad-left {
	padding-top: 0px;
    padding-left: 20px;
    padding-right: 0px;
}

/*.grid-pad-bottom {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 20px;
}*/

.outline, .outline *{
    /*outline: 1px solid lightgrey; */
}

.content {
    background: #ccc;
    padding: 10px;
}


section {
	img, canvas {
		width: 100%;
		/*margin-bottom: 20px;*/

		-webkit-box-shadow: 4px 4px 20px 0px rgba(50, 50, 50, 0.25);
		-moz-box-shadow:    4px 4px 20px 0px rgba(50, 50, 50, 0.25);
		box-shadow:         4px 4px 20px 0px rgba(50, 50, 50, 0.25);
	}
}

#hero {
	background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) ), url('../img/herobackground.jpg') no-repeat center -200px;
	background-size: cover;
	background-attachment: fixed;
	padding: 15% 0 10%;
	color: white;

	h1, p {
		font-weight: 300;
	}
}

.secondary-nav {
    background: rgb(240,240,240);
    line-height: 4.6;
    img {
	    padding: 0 15%;
	    opacity: 0.5;
    }
}


/*Make svg clickable*/

a.svg {
 position: relative;
 display: inline-block;
 width: 100%;
}
a.svg:after {
  content: ""; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}


a.svg.logo {
	width: 80px;
}



/*Navigation*/
header {
	position: fixed;
	background: rgba(255,255,255,0.98);
	width: 100%;
	z-index: 9;

		-webkit-box-shadow: 4px 4px 2px 0px rgba(50, 50, 50, 0.15);
		-moz-box-shadow:    4px 4px 2px 0px rgba(50, 50, 50, 0.15);
		box-shadow:         4px 4px 2px 0px rgba(50, 50, 50, 0.15);
}




.screenshot-container {
	position: relative;
	height: 0;
	padding-bottom: 60%;
	img {
	    position: absolute;
	    /*top: -1880px;*/
	}
}




/*Media Queries!!!!!!!!!!!!!!!!!*/

@media (max-width: 767px) {

	header {
		height: 65px;
	}

	/*centers image*/
	.mobile-col-1-2-centered {
		width: 50%;
		margin-left: 25%;
	}

}



